<div class="container">
  <div id="chartBox">
    <p class="container-title"></p>
    <canvas id="repoChart"></canvas>
  </div>
</div>
<aside class="right">
  <%= link_to 'repo graph', graph_path, remote: true,
  class: 'btn btn-primary' %>
  <%= link_to 'repo graph', graph_path, remote: true,
  class: 'btn btn-primary' %>
  <%= link_to 'repo graph', graph_path, remote: true,
  class: 'btn btn-primary' %>
  <%= link_to 'repo graph', graph_path, remote: true,
  class: 'btn btn-primary' %>
  <%= link_to 'repo graph', graph_path, remote: true,
  class: 'btn btn-primary' %>
  <%= link_to 'repo graph', graph_path, remote: true,
  class: 'btn btn-primary' %>
</aside>
