

<div class="container">
  <div id="chartBox">
    <%= notice %>
    <p class="container-title"></p>
  </div>
</div>
<aside class="right">



  <%= link_to 'Log in or Create an Account', '/auth/github',
      class: 'btn btn-primary' %>
  <%= link_to 'repo graph', graph_path, remote: true,
      class: 'btn btn-primary' %>
  <%= link_to 'project show', user_project_path(Project.last), remote: true,
      class: 'btn btn-primary' %>
  <%= link_to 'Log out', logout_path, class: 'btn btn-primary' %>
</aside>
