var project = <%= (@project).to_json.html_safe %>

var project_repo = <%= (@project.repo).to_json.html_safe %>

var project_board = <%= (@project.board).nil? ? j('Setting up your Trello board...') : @project.board.to_json.html_safe %>

var collaborators = <%= (@project.collaborators.count).to_json.html_safe %>

$(".project-box")
.empty()
.append(
  $("<h1>" + project.name + "</h1>")
  )
.append(
  $("<div> Project due by:" + '<%= @project.due_by.month %>' + "/" + '<%= @project.due_by.day %>' + "/" + '<%= @project.due_by.year %>' + "</div>")
  );

$(".repo-box")
  .empty()
  .append(() => {
    if (project_repo === null) {
      return $("<%= j render 'add_repo' %>");
    } else {
      return $("<a href='" + project_repo.url + "' class='btn btn-info'><i class='fa fa-github'></i> Go to Github Repo</a>");
    }
  });

$(".trello-box")
  .empty()
  .append(
    $("<a href='" + project_board.url + "' class='btn btn-info'><i class='fa fa-trello'></i> Go to Trello Board</a>")
    )
  .append(
    $("<span>" + collaborators + " collaborators on this project. </span>")
    )
  .append(
    $("<%= j link_to 'Add collaborators', add_collabs_path(@project), remote: true, class: 'btn btn-info', style: 'width:40%;' %>")
    );
