var project = <%= (@project).to_json.html_safe %>

var project_repo = <%= (@project.repo).to_json.html_safe %>

var due_date = new Date(project.due_by);

var project_board = <%= (@project.board).nil? ? j('Setting up your Trello board...') : @project.board.to_json.html_safe %>

var collaborators = <%= (@project.collaborators).to_json.html_safe %>


$(".project-box")
.empty()
.append(
  $("<h1>" + project.name + "</h1>")
  )
.append(
  $("<span>Project due by: " + due_date.toDateString() + "</span>")
  )
.append(
  $("<div id='clock'></div>")
  )
.append(
  $("<span>" + collaborators.length + " <%= 'collaborator'.pluralize(@project.collaborators.length) %> on this project. </span>")
  )
.append(
  $("<div class='project-btns'><%= j link_to 'Add collaborators', add_collabs_path(@project), remote: true, class: 'btn btn-info', style: 'width:40%;' %></div>")
.append(
  $("<%= j link_to 'Delete this Project', user_projects_path(@project),method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you wish to delete this project?' } %>")
  )
);


$('#clock').countdown(due_date)
.on('update.countdown', (evt) => {
  $('#clock').html(evt.strftime('%-w weeks %-d days %H:%M:%S'))
  .addClass('bg-info')
})
.on('finish.countdown',
  (evt) => {
    return $('#clock').html("Pitch Day has Arrived!")
  })
.countdown('start');


$(".repo-box")
.empty()
.append(
  $('<canvas id="repoChart" style="max-height:300;max-width:460"></canvas>')
  ).
append(() => {
  if (project_repo === null) {
    return "<%= j render 'add_repo' %>";
  } else {
    var repo_data = JSON.parse(<%= (@langs).to_json.html_safe %>),
    repo_name =  project_repo.name;

    var labels = [], proportions = [];

    for (var i in repo_data) {
      labels.push(repo_data[i]['language']);
      proportions.push(repo_data[i]['count']);
    }

    var title = $('.repo-title').html(`${repo_name} Code Analysis`);

    var ctx = $("#repoChart")[0].getContext('2d');
    var data = {
      labels: labels,
      datasets: [{
        data: proportions,
        label: repo_name + ' code in bytes',
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)'
        ], borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)'
        ],borderWidth: 1,
        hoverBackgroundColor: [
        'rgba(255,99,132, .8)',
        'rgba(54, 162, 235, .8)',
        'rgba(255, 206, 86, .8)',
        'rgba(75, 192, 192, .8)',
        'rgba(153, 102, 255, .8)'
        ]
      }]
    }, options = {
          global: {
          responsive: true,
          maintainAspectRatio: false
        }
      }

    var myChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: data,
      options: options
    });
    return [$('#repoChart').append(myChart), "<a href='" + project_repo.url + "' class='btn btn-info'><i class='fa fa-github'></i> Go to Github Repo</a>"];
  };
});



$(".trello-box")
.empty()
.append(
  $('<div class="card-container"></div>')
.append(
  $('<div id="board-inpr-info-box"><h3>Cards In Progress</h3></div>')
    .append(() => {
      var html = ''
      html += '<%= (card_spans @cards_status, "inpr").html_safe %>'
      if (html !== '') {
        return (html)
      } else {
        return ('<span class="card-warn">You haven\'t started any cards!</span>')
      }
    })
  )
  .append(
  $('<div id="board-blocked-info-box"><h3>Blocked Cards</h3></div>')
    .append(() => {
      var html = ''
      html += '<%= (card_spans @cards_status, "blocked").html_safe %>'
      if (html !== '') {
        return (html)
      } else {
        return ('<span class="card-warn">You haven\'t started any cards!</span>')
      }
    })
  )
  .append(
      $("<a href='" + project_board.url + "' class='btn btn-info' id='trello-link'><i class='fa fa-trello'></i> Go to Trello Board</a>")
      )
    );
