<%= form_with(model: [user, project], remote: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id='new-project-form'>

  <div id='new-project-name'>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'Name your project',
        class: 'form-control' %>
  </div>

  <div id='new-project-dueby'>
    <%= form.label :due_by %>
    <%= f.text_field :due_by, data:{ provide:'datepicker' } %>
  </div>

  <div id='new-project-repo-field'>
    <%= form.label 'Create a new repo? (If you have an existing repo, make sure your project name matches the repo name.)' %>
    <%= form.check_box :repo_id?, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create this project',
          class: 'btn btn-primary', id: 'new-project-submit' %>
  </div>
<% end %>
</div>
